@import 'settings';
@import 'glyphs';

@font-face {
  font-family: '#{$sf-font-name}';
  src: url('#{$sf-font-path}/#{$sf-font-name}.eot');
  src: url('#{$sf-font-path}/#{$sf-font-name}.eot?#iefix') format('embedded-opentype'),
    url('#{$sf-font-path}/#{$sf-font-name}.woff2') format('woff2'),
    url('#{$sf-font-path}/#{$sf-font-name}.woff') format('woff'),
    url('#{$sf-font-path}/#{$sf-font-name}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin icon() {
  color: inherit;
  display: inline-block;
  font-family: 'scoville';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: $sf-line-height-base;
  font-size: $sf-font-size-base;
  font-size: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}

.icon {
  @include icon;
}

@function glyph($name) {
  @if map-has-key($glyphs, $name) {
    @return map-get($glyphs, $name);
  }

  @warn "Glyph '#{$name}' cannot be found.";
  @return null;
}

@each $name, $codepoint in $glyphs {
  .-#{$name}:before {
    content: $codepoint;
  }
}
