$glyphs: (
  calendar_30x30: '\EA01',
  clinic_26x34: '\EA02',
  connect_34x34: '\EA03',
  document_26x32: '\EA04',
  clinic_24x30: '\EA05',
  document_24x30: '\EA06',
  education_36x30: '\EA07',
  group_34x30: '\EA08',
  arrow_10x18: '\EA09',
  arrow_6x10: '\EA0A',
  arrow_8x14_1px: '\EA0B',
  arrow_8x14_2px: '\EA0C',
  close_outline_18x18: '\EA0D',
  error_20x20: '\EA0E',
  info_20x20: '\EA0F',
  info_outline_20x20: '\EA10',
  ok_12x10: '\EA11',
  ok_16x14: '\EA12',
  ok_20x20: '\EA13',
  search_16x16: '\EA14',
  stroke_20x20: '\EA15',
  warning_20x18: '\EA16',
  close_20x20: '\EA17',
  close_8x8: '\EA18',
  notification_20x22: '\EA19',
  archive_24x20: '\EA1A',
  draft_14x18: '\EA1B',
  flag_12x18: '\EA1C',
  inbox_24x20: '\EA1D',
  unread_18x12: '\EA1E',
  archives_20x20: '\EA1F',
  attached_file_16x14: '\EA20',
  trash_20x20: '\EA21',
  add_20x20: '\EA22',
  archives_20x20_flat: '\EA23',
  arrow_close_30x30: '\EA24',
  attached_file_16x14_2px: '\EA25',
  drag_20x20: '\EA26',
  phone_connect_10x14: '\EA27',
  trash_20x20_flat: '\EA28',
  remove_draft_20x20: '\EA29',
  write_message_20x20: '\EA2A',
  arrow_complete_32x32: '\EA2B',
  filled_calendar_24x24: '\EA2C',
  gear_16x16: '\EA2D',
  group_28x18: '\EA2E',
  download_20x20: '\EA2F',
  file_16x20: '\EA30',
  text_18x14: '\EA31',
  appointment_20x20: '\EA32',
  calendar_picker_20x20: '\EA33',
  consent_20x20: '\EA34',
  dossier_20x16: '\EA35',
  email_20x18: '\EA36',
  legend_10x10: '\EA37',
  other-services_20x18: '\EA38',
  physician_18x20: '\EA39',
  reminder_20x20: '\EA3A',
  send-email_20x18: '\EA3B',
  credit_20x26: '\EA3C',
  date_20x20: '\EA3D',
  location_16x22: '\EA3E',
  transfert_16x8: '\EA3F',
  botin_18x22: '\EA40',
  contact_16x20: '\EA41',
  location_12x16: '\EA42',
  mobile_12x16: '\EA43',
  pager_16x12: '\EA44',
  tel_16x16: '\EA45',
  sync_18x18: '\EA46',
  time_20x20: '\EA47',
  walk-in_20x18: '\EA48',
  reminder-last_20x18: '\EA49',
  lock_7x8: '\EA4A',
  person_7x8: '\EA4B',
  reactivate_18x18: '\EA4C',
  trash_20x20-87: '\EA4D',
  deactivate_20x20: '\EA4E',
  lock_18x20: '\EA4F',
  unlock_18x22: '\EA50',
  plus_10x10: '\EA51',
  arrow_calendar_30x30: '\EA52',
  arrow_calendar_16x12: '\EA53',
  next_dispo_20x20: '\EA54',
  reminder-last_20x20: '\EA55',
  link_20x24: '\EA56',
  doc_file_20x24: '\EA57',
  excel_file_20x24: '\EA58',
  file_20x24: '\EA59',
  folder-18x14: '\EA5A',
  folder_20x24: '\EA5B',
  pdf_file_20x24: '\EA5C',
  picture_file_20x24: '\EA5D',
  upload_file_20x24: '\EA5E',
  video_file_20x24: '\EA5F',
  zip_file_20x24: '\EA60',
  graph_20x24: '\EA61',
  hourglass_22x34: '\EA62',
  stroke-gear_16x16: '\EA63',
  calendar-check_20x20: '\EA64',
  calendar-gear_22x22: '\EA65',
  phone_18x20: '\EA66',
  folder-full_20x24: '\EA67',
  file-full_16x20: '\EA68',
  help_30x30: '\EA69',
  legacy_30x30: '\EA6A',
  message_30x24: '\EA6B',
  progress_arrow_28x60: '\EA6C',
  calendar_32x32: '\EA6D',
  education_40x30: '\EA6E',
  group_38x34: '\EA6F',
  help_34x34: '\EA70',
  message_36x34: '\EA71',
  messages_30x24: '\EA72',
  cancel_20x20: '\EA73',
  unanswered_20x22: '\EA74',
  dashboard_20x20: '\EA75',
  with_note: '\EA76',
  without_note: '\EA77',
  calendar_full: '\EA78',
  contact_16x18: '\EA79',
  withnote_assistante: '\EA7A',
  withnote_patient: '\EA7B',
  withoutnote_assistante: '\EA7C',
  withoutnote_patient: '\EA7D',
  event-info_16x16: '\EA7E',
  arrow: '\EA7F',
  grip: '\EA80',
  add_absence: '\EA81',
  gear: '\EA82',
  drag: '\EA83',
  add_task: '\EA84',
  person_30x32: '\EA85'
);