$glyphs: (
  calendar_32x32: '\EA01',
  clinic_26x34: '\EA02',
  connect_34x34: '\EA03',
  document_26x32: '\EA04',
  education_40x30: '\EA05',
  group_38x34: '\EA06',
  help_34x34: '\EA07',
  message_36x34: '\EA08',
  arrow_10x18: '\EA09',
  arrow_6x10: '\EA0A',
  arrow_8x14_1px: '\EA0B',
  arrow_8x14_2px: '\EA0C',
  close_outline_18x18: '\EA0D',
  error_20x20: '\EA0E',
  info_20x20: '\EA0F',
  info_outline_20x20: '\EA10',
  ok_12x10: '\EA11',
  ok_16x14: '\EA12',
  ok_20x20: '\EA13',
  search_16x16: '\EA14',
  stroke_20x20: '\EA15',
  warning_20x18: '\EA16'
);