@mixin icon() {
  color: inherit;
  display: inline-block;
  font: normal normal normal normal #{$sf-font-size-base}/#{$sf-line-height-base} '#{$sf-font-name}';
  font-size: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}