$icons: (
  absence: '\EA01',
  add_contact: '\EA02',
  add_file: '\EA03',
  add_folder: '\EA04',
  add_task: '\EA05',
  appointment: '\EA06',
  archives: '\EA07',
  arrow1: '\EA08',
  arrow_circle: '\EA09',
  arrow_date: '\EA0A',
  bell: '\EA0B',
  calendar_nb_messages: '\EA0C',
  camera: '\EA0D',
  cellphone: '\EA0E',
  cellphone_full: '\EA0F',
  check: '\EA10',
  check_circle: '\EA11',
  check_circle_full: '\EA12',
  chevron: '\EA13',
  chevron_circle: '\EA14',
  chevron_circle_full: '\EA15',
  clinic: '\EA16',
  close: '\EA17',
  close_circle: '\EA18',
  code: '\EA19',
  collapse_down: '\EA1A',
  collapse_up: '\EA1B',
  comment: '\EA1C',
  contact: '\EA1D',
  create_event: '\EA1E',
  credit: '\EA1F',
  date: '\EA20',
  date_picker: '\EA21',
  deactivate: '\EA22',
  description: '\EA23',
  doctor: '\EA24',
  download: '\EA25',
  drag: '\EA26',
  education: '\EA27',
  email_adhesion: '\EA28',
  email_reminder: '\EA29',
  envelope: '\EA2A',
  error: '\EA2B',
  error_full: '\EA2C',
  exchange: '\EA2D',
  file: '\EA2E',
  file_artboard: '\EA2F',
  file_doc: '\EA30',
  file_excel: '\EA31',
  file_link: '\EA32',
  file_pdf: '\EA33',
  file_picture: '\EA34',
  file_upload: '\EA35',
  file_video: '\EA36',
  file_zip: '\EA37',
  filters: '\EA38',
  flag: '\EA39',
  flag_full: '\EA3A',
  folder: '\EA3B',
  gear: '\EA3C',
  group: '\EA3D',
  info: '\EA3E',
  info_full: '\EA3F',
  legend: '\EA40',
  link: '\EA41',
  location: '\EA42',
  location_full: '\EA43',
  lock: '\EA44',
  lock_full: '\EA45',
  marketplace: '\EA46',
  menu: '\EA47',
  message_footer: '\EA48',
  more: '\EA49',
  next_availability: '\EA4A',
  no_phone: '\EA4B',
  note: '\EA4C',
  note_full: '\EA4D',
  on_call_only: '\EA4E',
  operator: '\EA4F',
  pager: '\EA50',
  pager_full: '\EA51',
  paperclip: '\EA52',
  password: '\EA53',
  pen: '\EA54',
  pen_full: '\EA55',
  person: '\EA56',
  phone: '\EA57',
  phone_full: '\EA58',
  plus: '\EA59',
  plus_circle: '\EA5A',
  plus_circle_full: '\EA5B',
  print: '\EA5C',
  publish: '\EA5D',
  question_mark: '\EA5E',
  question_mark_circle: '\EA5F',
  reactivate: '\EA60',
  recent: '\EA61',
  recurrence: '\EA62',
  register: '\EA63',
  reminder: '\EA64',
  reminder_full: '\EA65',
  remove: '\EA66',
  rv: '\EA67',
  search: '\EA68',
  services: '\EA69',
  share: '\EA6A',
  split_shift: '\EA6B',
  srv: '\EA6C',
  star: '\EA6D',
  star_full: '\EA6E',
  sync: '\EA6F',
  task_only: '\EA70',
  template: '\EA71',
  time: '\EA72',
  trash: '\EA73',
  unlock: '\EA74',
  unlock_full: '\EA75',
  unread_message: '\EA76',
  view_schedule: '\EA77',
  warning: '\EA78',
  warning_full: '\EA79'
);