$icons: (
  absence: '\EA01',
  add_contact: '\EA02',
  add_file: '\EA03',
  add_folder: '\EA04',
  add_task: '\EA05',
  appointment: '\EA06',
  archives: '\EA07',
  arrow1: '\EA08',
  arrow_circle: '\EA09',
  arrow_date: '\EA0A',
  bell: '\EA0B',
  calendar_nb_messages: '\EA0C',
  camera: '\EA0D',
  cellphone: '\EA0E',
  cellphone_full: '\EA0F',
  check: '\EA10',
  check_circle: '\EA11',
  check_circle_full: '\EA12',
  chevron: '\EA13',
  chevron_circle: '\EA14',
  chevron_circle_full: '\EA15',
  clinic: '\EA16',
  close: '\EA17',
  close_circle: '\EA18',
  code: '\EA19',
  collapse_down: '\EA1A',
  collapse_up: '\EA1B',
  comment: '\EA1C',
  community: '\EA1D',
  contact: '\EA1E',
  create_event: '\EA1F',
  create_group: '\EA20',
  credit: '\EA21',
  date: '\EA22',
  date_picker: '\EA23',
  deactivate: '\EA24',
  description: '\EA25',
  doctor: '\EA26',
  download: '\EA27',
  drag: '\EA28',
  education: '\EA29',
  email_adhesion: '\EA2A',
  email_reminder: '\EA2B',
  envelope: '\EA2C',
  error: '\EA2D',
  error_full: '\EA2E',
  exchange: '\EA2F',
  file: '\EA30',
  file_artboard: '\EA31',
  file_doc: '\EA32',
  file_excel: '\EA33',
  file_link: '\EA34',
  file_pdf: '\EA35',
  file_picture: '\EA36',
  file_upload: '\EA37',
  file_video: '\EA38',
  file_zip: '\EA39',
  filters: '\EA3A',
  flag: '\EA3B',
  flag_full: '\EA3C',
  folder: '\EA3D',
  gear: '\EA3E',
  group: '\EA3F',
  info: '\EA40',
  info_full: '\EA41',
  legend: '\EA42',
  like: '\EA43',
  link: '\EA44',
  location: '\EA45',
  location_full: '\EA46',
  lock: '\EA47',
  lock_full: '\EA48',
  marketplace: '\EA49',
  menu: '\EA4A',
  message_footer: '\EA4B',
  more: '\EA4C',
  next_availability: '\EA4D',
  no_phone: '\EA4E',
  note: '\EA4F',
  note_full: '\EA50',
  on_call_only: '\EA51',
  operator: '\EA52',
  pager: '\EA53',
  pager_full: '\EA54',
  paperclip: '\EA55',
  password: '\EA56',
  pen: '\EA57',
  pen_full: '\EA58',
  person: '\EA59',
  person_full: '\EA5A',
  phone: '\EA5B',
  phone_full: '\EA5C',
  plus: '\EA5D',
  plus_circle: '\EA5E',
  plus_circle_full: '\EA5F',
  post: '\EA60',
  print: '\EA61',
  publish: '\EA62',
  question_mark: '\EA63',
  question_mark_circle: '\EA64',
  reactivate: '\EA65',
  recent: '\EA66',
  recurrence: '\EA67',
  register: '\EA68',
  reminder: '\EA69',
  reminder_failure: '\EA6A',
  reminder_full: '\EA6B',
  reminder_success: '\EA6C',
  remove: '\EA6D',
  rv: '\EA6E',
  search: '\EA6F',
  services: '\EA70',
  share: '\EA71',
  split_shift: '\EA72',
  srv: '\EA73',
  star: '\EA74',
  star_full: '\EA75',
  sync: '\EA76',
  task_only: '\EA77',
  template: '\EA78',
  time: '\EA79',
  trash: '\EA7A',
  unlock: '\EA7B',
  unlock_full: '\EA7C',
  unread_message: '\EA7D',
  view_schedule: '\EA7E',
  warning: '\EA7F',
  warning_full: '\EA80'
);