.-lg {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -15%;
}

.-large-2x {
  font-size: 2em;
}

.-large-3x {
  font-size: 3em;
}

.-large-4x {
  font-size: 4em;
}

.-large-5x {
  font-size: 5em;
}
